<!DOCTYPE html>
<html>
<head th:replace="~{fragments/common/head :: HeadFragment}"></head>
<body>
	<header th:replace="~{fragments/common/header :: HeaderFragment}"></header>
	<nav th:replace="~{fragments/common/nav :: NavFragment}"></nav>

	<div id="user-infoId" th:data-name="${memberId}" style="display: none;"></div>

	<div id="chat-container">
		<!-- 채팅방 목록 -->
		<div id="chat-room-list">
			<div class="room-header">
				<h3>채팅방</h3>
				<button onclick="showCreateRoomForm()">＋</button>
			</div>
			<ul id="room-list" th:each="room, iterStat : ${rooms}">
				<li th:attr="onclick='enterRoom(\'' + ${room.roomId} + '\')'">
					<!-- th:text=${room.roomName}> -->
					<span th:text="${room.roomName}" id="roomName"></span>
				</li>
			</ul>
		</div>

		<!-- 채팅창 -->
		<div id="chat-window">
			<div id="chat-title" class="center-title">채팅방을 선택하세요</div>
			<div id="message-container" style="display: none;">
				<!-- 메시지가 여기에 출력됨 -->
			</div>
			<div id="input-form" style="display: none;">
				<input type="text" id="message-input" placeholder="메시지 입력..." />
				<button id="send-btn" onclick="sendMessage()">전송</button>
			</div>
		</div>
	</div>

	<!-- 방 생성 폼 -->
	<div id="create-room-form" style="display: none;">
		<h4>채팅방 생성</h4>
		<input type="text" id="new-room-name" placeholder="방 이름 입력" /> <input
			type="password" id="new-room-password" placeholder="비밀번호 (선택)" />
		<div class="btn-group">
			<button onclick="createRoom()">생성</button>
			<button onclick="hideCreateRoomForm()">취소</button>
		</div>
	</div>

	<footer th:replace="~{fragments/common/footer :: FooterFragment}"></footer>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script src="/js/contact/chat.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/sockjs-client@1.6.1/dist/sockjs.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</body>
</html>